n8n/excel.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "fileData",
        "options": {
          "headerRow": true,
          "range": "=A1:H40",
          "rawData": false,
          "sheetName": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        352
      ],
      "id": "b58e4776-eff3-42a6-8c8f-d078111c74a1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1mP20et8Pe_RMQvEC-ra2mXi9aoAtTwK_jsMwcUn9tt0",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsTriggerOAuth2Api",
        "options": {}
      },
      "id": "5d6aaa86-0123-4bd2-8102-1e0612e72ada",
      "name": "Get Spreadsheet Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        448
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hcyzcBYx03yySvbY",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheets",
        "options": {}
      },
      "id": "f5a15fca-ccde-44d4-b1e7-45f8e8e75163",
      "name": "Split Sheets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1dc9f68-2b35-45fe-9b96-7ea652b66c59",
              "name": "title",
              "value": "={{ $json.properties.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        448
      ],
      "id": "e5320d67-e2ed-474e-8e98-da7b743dbb19",
      "name": "Set Sheet Name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        352
      ],
      "id": "850cb536-2336-4ddc-8d49-2f2af9a7fbd4",
      "name": "Merge",
      "notesInFlow": true,
      "notes": "Combines the file data with each sheet name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52f86af1-13da-4a7b-a25b-59755f9e8a5b",
              "name": "fileData",
              "value": "=data",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        256
      ],
      "id": "f302c25a-1f09-45b9-9a6e-88ae98bff2d5",
      "name": "Prepare Binary Data"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1mP20et8Pe_RMQvEC-ra2mXi9aoAtTwK_jsMwcUn9tt0",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -704,
        256
      ],
      "typeVersion": 1,
      "id": "3ea445f0-1024-4557-afcb-a0bf197e0b33",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PQeJP4egMzQAP6Ah",
          "name": "Liv Hospital Google Auth Client"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        352
      ],
      "id": "e4c68456-957c-413e-a495-610fe99a37a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const extractedValues = [];\n\n// --- HELPER FUNCTIONS ---\n\n// 1. Parse Excel ISO Date (2025-03-25T...) -> YYYY-MM-DD\nconst parseExcelDate = (isoStr) => {\n  if (!isoStr) return null;\n  try {\n    return isoStr.split('T')[0];\n  } catch (e) {\n    return null;\n  }\n};\n\n// 2. Extract Phone Number\nconst extractPhone = (str) => {\n  const match = str.match(/([+0][0-9\\s-]{10,15})/);\n  return match ? match[1].trim() : null;\n};\n\n// 3. Extract Time (24h format)\nconst extractTime = (str, defaultTime) => {\n  const match = str.match(/(\\d{1,2})(?:[:.](\\d{2}))?\\s*(am|pm)?/i);\n  \n  if (match) {\n    let [full, hour, min, meridian] = match;\n    // Ignore if it looks like a graft count (e.g. 3000)\n    if (!meridian && !min && hour.length > 2) return defaultTime; \n\n    if (meridian) {\n      let h = parseInt(hour, 10);\n      if (meridian.toLowerCase() === 'pm' && h < 12) h += 12;\n      if (meridian.toLowerCase() === 'am' && h === 12) h = 0;\n      hour = h.toString().padStart(2, '0');\n    } else {\n      hour = hour.padStart(2, '0');\n    }\n    min = min || '00';\n    return `${hour}:${min}`;\n  }\n  return defaultTime;\n};\n\n// 4. Clean Name\nconst cleanName = (str) => {\n  if (!str) return \"Unknown\";\n  let s = str;\n  \n  // Remove Status Prefixes\n  s = s.replace(/^[CXR]\\s*[-–]\\s*/i, \"\");\n  \n  // Remove Keywords (including Liv Patient which is handled before this)\n  s = s.replace(/\\b(VIDEO|V2V|F2F|Face to Face|PRP|Consultation|Consult)\\b/gi, \"\") \n       .replace(/Liv Patient/gi, \"\")\n       .replace(/Revision Case/gi, \"\")\n       .replace(/Cancelled/gi, \"\")\n       .replace(/Posponed/gi, \"\")\n       .replace(/Surgeon is away/gi, \"\")\n       .replace(/Staff/gi, \"\")\n       .replace(/Mr\\.?\\s*Mo Surgery/gi, \"\");\n\n  // Remove Phone & Numbers\n  s = s.replace(/[+0][0-9\\s-]{10,15}/, \"\");\n  s = s.replace(/\\b\\d{3,4}\\b/g, \"\"); \n  s = s.replace(/\\d{1,2}[:.]\\d{2}\\s*(?:am|pm)?/gi, \"\"); \n  s = s.replace(/\\d{1,2}\\s*(?:am|pm)/gi, \"\"); \n\n  // Cleanup\n  s = s.replace(/[/\\-,]/g, \" \"); \n  s = s.replace(/[^\\p{L}\\p{M}\\s']/gu, \"\"); \n  \n  return s.trim().replace(/\\s+/g, \" \") || \"Unknown\";\n};\n\n// 5. Determine Procedure Type\nconst getProcedureType = (text, columnType) => {\n  const lower = text.toLowerCase();\n  if (lower.includes(\"prp\")) return \"prp_session\";\n  if (lower.includes(\"video\") || lower.includes(\"v2v\")) return \"video_consultation\";\n  if (lower.includes(\"f2f\") || lower.includes(\"face\")) return \"face_to_face_consultation\";\n  if (columnType === \"consultation\") return \"face_to_face_consultation\"; \n  return columnType;\n};\n\n// --- MAIN LOGIC ---\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  \n  // 1. Get Date\n  const dateKey = Object.keys(row).find(k => k.trim() === \"Date\");\n  const dateStr = parseExcelDate(row[dateKey]);\n  \n  if (!dateStr) continue;\n\n  // 2. Define Column Mappings\n  const columns = [\n    { \n      match: \"Room 1\", \n      type: \"hair_transplant\", \n      defaultTime: \"08:30\", \n      isSurgery: true \n    },\n    { \n      match: \"Room 2\", \n      type: \"hair_transplant\", \n      defaultTime: \"10:00\", \n      isSurgery: true \n    },\n    { \n      match: \"Consultation\", \n      type: \"consultation\", \n      defaultTime: \"15:00\", \n      isSurgery: false \n    },\n    { \n      match: \"PRP\", \n      type: \"prp_session\", \n      defaultTime: \"15:00\", \n      isSurgery: false \n    }\n  ];\n\n  // 3. Iterate Columns\n  for (const col of columns) {\n    const exactKey = Object.keys(row).find(k => k.includes(col.match));\n    if (!exactKey) continue;\n\n    const cellValue = row[exactKey];\n    \n    if (!cellValue || typeof cellValue !== 'string') continue;\n    if (cellValue.match(/^(Closed|Not available|Free|Holiday|-)/i)) continue;\n\n    // Split multiple entries\n    const entries = cellValue.split(/ \\/\\/ | \\/ |\\r?\\n/);\n\n    for (const rawEntry of entries) {\n      const entry = rawEntry.trim();\n      if (entry.length < 2) continue;\n\n      // A. Agency Logic\n      let agency = \"want_hair\";\n      if (entry.toLowerCase().includes(\"liv patient\")) {\n        agency = \"liv_hair\";\n      }\n\n      // B. Determine Status\n      let status = \"confirmed\";\n      if (entry.match(/^[X]\\s*[-–]/i) || entry.match(/Cancelled|Posponed/i)) {\n        status = \"cancelled\";\n      } else if (entry.match(/^[R]\\s*[-–]/i)) {\n        status = \"reserved\";\n      }\n\n      // C. Extract Name\n      const fullName = cleanName(entry);\n      if (fullName === \"Unknown\") continue;\n\n      const nameParts = fullName.split(\" \");\n      const firstName = nameParts[0];\n      const lastName = nameParts.slice(1).join(\" \");\n\n      // D. Extract Phone\n      const phone = extractPhone(entry);\n\n      // E. Procedure Type\n      const procedureType = getProcedureType(entry, col.type);\n\n      // F. Extract Time\n      let procedureTime = col.defaultTime;\n      const timeInEntry = extractTime(entry, null);\n      if (timeInEntry) procedureTime = timeInEntry;\n\n      // G. Grafts & Package (Surgery Only)\n      let grafts = 0;\n      let packageType = \"na\";\n      \n      if (col.isSurgery && procedureType === \"hair_transplant\") {\n        packageType = \"small\";\n        const graftsMatch = entry.match(/\\b(\\d{3,4})\\b/);\n        if (graftsMatch) {\n          grafts = parseInt(graftsMatch[1], 10);\n          packageType = grafts >= 3000 ? \"big\" : \"small\";\n        }\n      }\n\n      // H. Pre-op Answers Logic\n      let medicalAlerts = \"\";\n      const alertsList = [];\n      \n      if (entry.toLowerCase().includes(\"revision\")) alertsList.push(\"Revision Case\");\n      // Add more keywords here if needed\n      \n      if (alertsList.length > 0) medicalAlerts = alertsList.join(\", \");\n\n      const preopAnswers = {\n        \"prp_session\": procedureType === \"prp_session\" ? \"Yes\" :\"\",\n        \"medical_alerts\": medicalAlerts\n      };\n\n      // I. Push Result\n      extractedValues.push({\n        uid: null,\n        full_name: fullName.toUpperCase(),\n        first_name: firstName.toUpperCase(),\n        last_name: lastName.toUpperCase(),\n        phone: phone,\n        email: null,\n        agency: agency, // New Field\n        procedure_date: dateStr,\n        procedure_time: procedureTime,\n        grafts: grafts!=0 ? grafts : '',\n        package_type: packageType,\n        outstanding_balance: 0,\n        status: status,\n        procedure_type: procedureType,\n        preop_answers: preopAnswers, // Updated Key\n        source: \"excel\"\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    values: extractedValues\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        336
      ],
      "id": "5bfb6aa9-578f-4567-8c56-d4f4f52dde95",
      "name": "prepare data",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(item => item.json);\n\n// keys to ignore when checking\nconst ignore = [\"Date\", \"Day\"];\n\nconst filtered = rows.filter(r => {\n  // get all keys except Date/Day\n  const keys = Object.keys(r).filter(k => !ignore.includes(k));\n\n  // check if ANY cell has real data (not Closed, empty, Not available)\n  return keys.some(k => {\n    const val = String(r[k] || \"\").trim().toLowerCase();\n    return val !== \"closed\" && val !== \"\" && val !== \"not available\" && val !==\"FOLLOW\";\n  });\n});\n\n// return back to n8n\nreturn filtered.map(f => ({ json: f }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        336
      ],
      "id": "0ae80c3d-d5b0-4d15-97e2-89d98deb9cf4",
      "name": "filter invalid data"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "filter invalid data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spreadsheet Metadata": {
      "main": [
        [
          {
            "node": "Split Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sheets": {
      "main": [
        [
          {
            "node": "Set Sheet Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sheet Name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Prepare Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Spreadsheet Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare data": {
      "main": [
        []
      ]
    },
    "filter invalid data": {
      "main": [
        [
          {
            "node": "prepare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {}
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbe7b26bafc130fb44f38a6a9d9ec48887d38175be68c74d23a330e4eeb11ebd"
  }
}