n8n/mails.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e308f0b-7abb-4a80-819b-f04f7b2ec529",
              "name": "uid",
              "value": "={{ $json.uid || $json.attributes.uid}}",
              "type": "number"
            },
            {
              "id": "9d96cde2-78ee-4351-bfe5-460b70c104e5",
              "name": "subject",
              "value": "={{ $json.subject || $json.envelope.subject }}",
              "type": "string"
            },
            {
              "id": "4cd57256-5889-4871-ba7c-63d2cdbf5269",
              "name": "body",
              "value": "={{ $json.textContent || $json.text || $json.textPlain}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -368
      ],
      "id": "7d854a71-3a33-4d2a-a4ad-650c04b3f232",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -320
      ],
      "id": "14567b5c-f498-4e1b-82b3-053120fd4f0a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        -160
      ],
      "id": "659ac438-bfa4-445e-9656-c363917ffad2",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxes": [
          "INBOX"
        ],
        "emailDateRange": {
          "since": "={{ $json.start_date }} || \"2025-11-01\"}}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "subject": "Booking"
        },
        "includeParts": [
          "textContent",
          "attachmentsInfo"
        ],
        "limit": 200
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        32,
        -256
      ],
      "id": "0dd6fc0a-d68b-4acb-a9fe-e9398b6e2d66",
      "name": "Fetch All Emails (Booking)",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "plaHZHtkCoSORbUx",
          "name": "Booking IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxes": [
          "INBOX"
        ],
        "emailDateRange": {
          "since": "={{ $json.day || \"2025-11-01\"}}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "subject": "Consultation confirmation"
        },
        "includeParts": [
          "textContent"
        ]
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        32,
        -64
      ],
      "id": "3243c072-49f1-45c4-9bb4-572e1bbc851f",
      "name": "Fetch All Emails (n8n)",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "plaHZHtkCoSORbUx",
          "name": "Booking IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Flatten Input: Handle if data is wrapped in a \"values\" array or standard n8n items\nlet inputs = [];\nif ($input.first().json.values && Array.isArray($input.first().json.values)) {\n  inputs = $input.first().json.values.map(v => ({ json: v }));\n} else {\n  inputs = $input.all();\n}\n\n// Array to hold all processed records\nconst extractedValues = [];\n\n// --- HELPER: ROBUST DATE PARSER ---\nconst parseDate = (rawStr) => {\n  if (!rawStr) return null;\n  \n  let s = rawStr.replace(/(?:Surgery|Consultation)\\s*date\\s*[-:]*/yi, \"\") \n                .replace(/Date/i, \"\") \n                .replace(/[()]/g, \"\") \n                .trim();\n\n  // Pattern A: Numeric (e.g. 17/11/25)\n  const numericMatch = s.match(/(\\d{1,2})[\\.\\/\\-](\\d{1,2})[\\.\\/\\-](\\d{2,4})/);\n  if (numericMatch) {\n    let [_, d, m, y] = numericMatch;\n    d = d.padStart(2, '0');\n    m = m.padStart(2, '0');\n    if (y.length === 2) y = '20' + y;\n    return `${y}-${m}-${d}`;\n  }\n\n  // Pattern B: Written Month (e.g. 28th November)\n  const textMatch = s.match(/(\\d{1,2})(?:st|nd|rd|th)?\\s+([a-zA-Z]+)(?:[\\s,.-]*(\\d{4}))?/i);\n  if (textMatch) {\n    let [_, d, mStr, y] = textMatch;\n    d = d.padStart(2, '0');\n    \n    const months = {\n      jan: '01', feb: '02', mar: '03', apr: '04', may: '05', jun: '06',\n      jul: '07', aug: '08', sep: '09', oct: '10', nov: '11', dec: '12'\n    };\n    const monthKey = mStr.substring(0, 3).toLowerCase();\n    const m = months[monthKey];\n\n    if (m) {\n      if (!y) {\n        const now = new Date();\n        const currentYear = now.getFullYear();\n        const currentMonth = now.getMonth() + 1;\n        y = (parseInt(m) < currentMonth) ? currentYear + 1 : currentYear;\n      }\n      return `${y}-${m}-${d}`;\n    }\n  }\n  return null;\n};\n\n// --- HELPER: CLEAN NAME ---\nconst cleanName = (str) => {\n  if (!str) return \"Name Missing\";\n  let s = str;\n  s = s.replace(/^(Fwd:|Re:|Fw:)\\s*/i, \"\")\n       .replace(/(?:Booking|Consultation)\\s*Confirmation\\s*[-–: ]*/i, \"\") \n       .replace(/Harley\\s*Street/i, \"\") \n       .replace(/Photos\\s*[-–: ]*/i, \"\")\n       .replace(/[-–]\\s*\\d{1,2}[\\.\\/\\-].*$/, \"\") \n       .replace(/\\d{1,2}(?:st|nd|rd|th)?\\s+(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec).*$/i, \"\")\n       .replace(/[^\\p{L}\\p{M}\\s'-]/gu, \" \")\n       .trim();\n  return s;\n};\n\n// --- MAIN LOOP ---\nfor (const item of inputs) {\n  const json = item.json;\n  \n  if (!json || (!json.body && !json.subject)) continue;\n\n  const body = json.body || '';\n  const subject = json.subject || '';\n\n  // DETERMINE TYPE\n  const isConsultation = subject.toLowerCase().includes(\"consultation\");\n\n  // 1. EXTRACT NAME\n  let fullName = null;\n  const bodyNameMatch = body.match(/photos\\s+for\\s+([^\\n\\r\\.]+)/i);\n  if (bodyNameMatch) {\n    fullName = cleanName(bodyNameMatch[1]);\n  }\n  \n  if (!fullName || fullName.length < 2) {\n    const parts = subject.split(/\\s*[-–]\\s*/);\n    for (const part of parts) {\n      if (part.toLowerCase().includes(\"confirmation\")) continue;\n      if (/\\d/.test(part) && part.length < 15) continue;\n      if (part.trim().length > 2) {\n        fullName = cleanName(part);\n        break;\n      }\n    }\n  }\n  if (!fullName) fullName = \"Unknown\";\n\n  const nameParts = fullName.split(/\\s+/);\n  let firstName = nameParts[0];\n  let lastName = nameParts.length > 1 ? nameParts.slice(1).join(\" \") : \"\";\n\n  // 2. EXTRACT DATE\n  let procedureDate = null;\n  const dateLineMatch = body.match(/(?:Surgery|Consultation)\\s*date\\s*[-:]*\\s*([^\\n\\r]+)/i);\n  if (dateLineMatch) procedureDate = parseDate(dateLineMatch[1]);\n\n  if (!procedureDate) {\n    const subjectDateMatch = subject.match(/(\\d{1,2}[\\.\\/\\-]\\d{1,2}[\\.\\/\\-]\\d{2,4})/) || \n                             subject.match(/(\\d{1,2}(?:st|nd|rd|th)?\\s+[a-zA-Z]+\\s+\\d{4})/);\n    if (subjectDateMatch) procedureDate = parseDate(subjectDateMatch[0]);\n  }\n  if (!procedureDate) procedureDate = new Date().toISOString().split('T')[0];\n\n  // 3. EXTRACT TIME\n  const timeMatch = body.match(/(?:Surgery|Consultation)\\s*time\\s*[-:]\\s*([^\\n\\r]+)/i);\n  const procedureTime = (timeMatch ? timeMatch[1] : \"\").trim();\n\n  // 4. EXTRACT PHONE\n  let phone = null;\n  const phoneMatch = body.match(/Phone\\s*number\\s*:?\\s*([^\\n\\r]+)/i);\n  if (phoneMatch) {\n    let rawPhone = phoneMatch[1];\n    if (rawPhone.includes(\"[\")) {\n      const linkMatch = rawPhone.match(/\\[(.*?)\\]/);\n      if (linkMatch) rawPhone = linkMatch[1];\n    }\n    phone = rawPhone.trim();\n  }\n\n  // 5. EXTRACT EMAIL\n  let email = null;\n  const emailMatch = body.match(/Email\\s*address\\s*:?\\s*([^\\s\\n\\r<]+)/i);\n  if (emailMatch) email = emailMatch[1];\n\n  // 6. EXTRACT GRAFTS / PACKAGE / BALANCE\n  let grafts = 0;\n  let packageType = \"small\";\n  let balance = 0;\n\n  if (isConsultation) {\n    packageType = \"na\";\n  } else {\n    const graftsMatch = body.match(/up\\s+to\\s*(?:\\/up\\s+to)?\\s*(\\d+)/i);\n    if (graftsMatch) {\n      grafts = parseInt(graftsMatch[1], 10);\n      packageType = grafts >= 3000 ? \"big\" : \"small\";\n    }\n\n    // Robust Float Parsing for Balance\n    const balanceMatch = body.match(/Outstanding\\s*balance\\s*[:\\-]?\\s*[^\\d\\n\\r]*?(\\d[\\d\\.,]*)/i);\n    if (balanceMatch) {\n      let cleanStr = balanceMatch[1].replace(/,/g, '');\n      balance = parseFloat(cleanStr);\n      if (isNaN(balance)) balance = 0;\n    }\n  }\n\n  // 7. STATUS & TYPE\n  const status = subject.toLowerCase().includes(\"confirmation\") ? \"confirmed\" : \"reserved\";\n  \n  let procedureType = \"hair_transplant\"; \n  const typeMatch = body.match(/This\\s+is\\s+for\\s+a\\s+([^\\n\\r\\.]+)/i);\n  \n  if (typeMatch) {\n    let rawType = typeMatch[1].trim();\n    if (rawType.toLowerCase().includes(\"f2f\")) {\n      rawType = rawType.replace(/f2f/gi, \"Face to Face\");\n    }\n    procedureType = rawType.toLowerCase().replace(/\\s+/g, '_');\n  }\n\n  // ----------------------------------------------------\n  // 8. PRE-OP ANSWERS (New logic for API format)\n  // ----------------------------------------------------\n  \n  let prpAnswer = \"\";        // Default for Consultation\n  let medicalAlerts = \"\";   // Default\n\n  if (isConsultation) {\n    // Consultation: Extract Medical Conditions only\n    const medMatch = body.match(/Are there any medical conditions the team should be aware of\\?[\\s]*([\\s\\S]*?)(?=\\n\\n|Many Thanks|$)/i);\n    if (medMatch) medicalAlerts = medMatch[1].trim();\n    if (!medicalAlerts) medicalAlerts = \"\";\n  } else {\n    // Surgery: Extract PRP + Medications\n    const prpMatch = body.match(/Is the patient having a session of PRP[^?]*\\?[\\s]*([^\\n\\r]+)/i);\n    if (prpMatch) prpAnswer = prpMatch[1].trim();\n\n    const medsMatch = body.match(/Are there any medications or conditions the team should be aware of\\?[\\s]*([\\s\\S]*?)(?=\\n\\n|We have attached|Outstanding balance|Many Thanks|$)/i);\n    if (medsMatch) medicalAlerts = medsMatch[1].trim();\n  }\n\n  // PUSH TO AGGREGATE ARRAY\n  extractedValues.push({\n    uid: json.uid,\n    full_name: fullName.toUpperCase(),\n    first_name: firstName.toUpperCase(),\n    last_name: lastName.toUpperCase(),\n    phone: phone,\n    email: email,\n    procedure_date: procedureDate,\n    procedure_time: procedureTime,\n    grafts: grafts,\n    package_type: packageType,\n    outstanding_balance: balance, // Float\n    status: status,\n    procedure_type: procedureType,\n    preop_answers: {\n      prp_session: prpAnswer,\n      medical_alerts: medicalAlerts\n    },\n    source:\"email\"\n  });\n}\n\n// RETURN AS SINGLE ITEM WITH 'values' ARRAY\nreturn [{\n  json: {\n    values: extractedValues\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -384
      ],
      "id": "3063f252-5d3a-436f-8c5f-06073b55a6f9",
      "name": "Email Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -96
      ],
      "id": "e4d2ba37-545b-4197-bb35-68f00b89c33a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a35679bd-d4fc-4973-a990-7c8dbfb7c144",
              "leftValue": "={{ $json.attributes.uid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -352
      ],
      "id": "afd5d5c0-7019-42ba-afe2-45e0b16ad18f",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxes": [
          "INBOX"
        ],
        "emailDateRange": {
          "since": "={{ $json.start_date }} || \"2025-11-01\"}}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "subject": "Booking"
        },
        "includeParts": [
          "textContent",
          "attachmentsInfo"
        ],
        "limit": 200
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        32,
        144
      ],
      "id": "3abbd5ea-36ba-4494-8814-97e94853c4df",
      "name": "Fetch All Emails (Booking)1",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "UaKBHYDufXL3rXgE",
          "name": "n8n IMAP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxes": [
          "INBOX"
        ],
        "emailDateRange": {
          "since": "={{ $json.day || \"2025-11-01\"}}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "subject": "Consultation confirmation"
        },
        "includeParts": [
          "textContent"
        ]
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        32,
        336
      ],
      "id": "7bb85dec-e81f-4fea-b75e-79165635249c",
      "name": "Fetch All Emails (n8n)1",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "UaKBHYDufXL3rXgE",
          "name": "n8n IMAP Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        240
      ],
      "id": "3d585419-9c7e-4de3-9400-9a26b31f1fa4",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        48
      ],
      "id": "47b463f2-53c2-40be-ad55-f8840daf36bc",
      "name": "Merge2"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Email Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Emails (Booking)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Emails (n8n)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch All Emails (Booking)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch All Emails (n8n)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch All Emails (Booking)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch All Emails (n8n)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Emails (Booking)1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Emails (n8n)1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbe7b26bafc130fb44f38a6a9d9ec48887d38175be68c74d23a330e4eeb11ebd"
  }
}